@lightgray: #eeeeee;
@darkgray: #aaaaaa;

html {
    font-family: sans-serif;
}

.flex-container {
    display: flex;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-gap-5px {
    gap: 5px;
}

.flex-gap-0 {
    gap: 0;
}

.flex-basis-30 {
    flex-basis: 30%;
}

.flex-basis-40 {
    flex-basis: 40%;
}

.w-100 {
    width: 100%;
}

.min-w-100 {
    min-width: 100%;
}

.h-100 {
    height: 100%;
}

.max-width-25 {
    max-width: 25%;
}

.indentation {
    width: 1rem;
    height: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-column {
    flex-direction: column;
}

.flex-basis-52px {
    flex-basis: 52px;
}

.flex-basis-max-content {
    flex-basis: max-content;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.margin-0 {
    margin: 0;
}

.striped > div:nth-child(odd) {
    background: @lightgray;
}

.selected-entity {
    background: skyblue !important;
}

.overflow-scroll {
    overflow-y: scroll;
    overflow-x: scroll;
}

.block-1rem {
    height: 1rem;
    width: 1rem;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.w-100vw {
    width: 100vw;
}

.w-max-content {
    width: max-content;
}

.pr-5px {
    padding-right: 5px;
}

.border-right {
    border-right: 1px solid @lightgray;
}

.border-left {
    border-left: 1px solid @lightgray;
}

.border-top {
    border-top: 1px solid @lightgray;
}

.p-1rem {
    padding: 1rem;
}

.align-self-end {
    align-self: end;
}

.justify-content-between {
    justify-content: space-between;
}

.text-faded {
    color: #888888;
}

.no-select {
    user-select: none;
}

.min-height-0 {
    min-height: 0;
}

textarea {
    resize: vertical;
}

.control-bar {
    min-height: 52px;
    font-size: 34px;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.max-width-500px {
    max-width: 500px;
}

.position-relative {
    position: relative;
}

#editor-status-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: @darkgray;
}

.faded {
    color: @lightgray;
}