# Project libraries
node_modules

# macOs filesystem files
*/.DS_Store
.DS_Store

# Build artifacts
out/*
build/*
dist

# Database file and working database files
flashcards.db
*-shm
*-wal
*.db

# IDE and Editor specific files
.idea
